<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IBFetchData.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IBFetchData.Properties.Settings.E__FINANCE_DATABASE_OPTIONS_MDFConnectionString"
            connectionString="Data Source=(localdb)\v11.0;Initial Catalog=E:\FINANCE\DATABASE\OPTIONS.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="IBFetchData.Properties.Settings.optionsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=E:\Finance\Database\options.mdf;Initial Catalog=Options;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <IBFetchData.Properties.Settings>
            <setting name="CompanyInfoColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>50</string>
                        <string>158</string>
                        <string>76</string>
                        <string>159</string>
                        <string>70</string>
                        <string>70</string>
                        <string>70</string>
                        <string>70</string>
                        <string>60</string>
                        <string>60</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="StockAnalColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>50</string>
                        <string>158</string>
                        <string>76</string>
                        <string>159</string>
                        <string>70</string>
                        <string>70</string>
                        <string>70</string>
                        <string>70</string>
                        <string>60</string>
                        <string>60</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OptionAnalColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>50</string>
                        <string>158</string>
                        <string>76</string>
                        <string>159</string>
                        <string>70</string>
                        <string>70</string>
                        <string>70</string>
                        <string>70</string>
                        <string>60</string>
                        <string>60</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="OptionFolder" serializeAs="String">
                <value>E:\Finance\logs\</value>
            </setting>
            <setting name="AnalMinVolume" serializeAs="String">
                <value>1000000</value>
            </setting>
            <setting name="AnalMinPrice" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AnalMinIVPercentile" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="AnalNixEarnings" serializeAs="String">
                <value>2014-08-22</value>
            </setting>
            <setting name="ConnectTWS" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ClientID" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BBColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>150</string>
                        <string>150</string>
                        <string>150</string>
                        <string>150</string>
                        <string>150</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="HistoricalBBColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>100</string>
                        <string>100</string>
                        <string>100</string>
                        <string>100</string>
                        <string>100</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="bAnalOptPuts" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAnalOptCalls" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAnalOptOIThreshold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAnalOptROCThreshold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAnalOptMinPremium" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="bAnalOptUseFrozen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="bAnalOptStrangleThreshold" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AnalOptITMThreshold" serializeAs="String">
                <value>15%</value>
            </setting>
            <setting name="AnalOptOIThreshold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="AnalOptROCThreshold" serializeAs="String">
                <value>0.5%</value>
            </setting>
            <setting name="AnalOptMinPremium" serializeAs="String">
                <value>$1.00</value>
            </setting>
            <setting name="IVPercentileColumnWidths" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>50</string>
                        <string>50</string>
                        <string />
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="PortfolioIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LogDir" serializeAs="String">
                <value>E:\Finance\Logs\</value>
            </setting>
        </IBFetchData.Properties.Settings>
    </userSettings>
</configuration>
